@media print {
    body, .container, .table-container {
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        width: 100% !important;
    }

    .no-print, .buttons-container, .top-right-buttons, .search-container, .logo-container, .theme-selector, .menu, footer, .go-to-doc, .combine-icon, h1 {
        display: none !important;
    }

    .table-container {
        width: 100% !important;
        overflow: hidden !important;
    }

    table {
        width: 100% !important;
        border-collapse: collapse !important;
        margin: 0 !important;
        border: 1px solid black !important; /* Ensure the table itself has a border */
        font-family: inherit !important; /* Apply the inherited font */
    }

    th, td {
        padding: 10px !important; /* Adjust padding if necessary */
        text-align: center !important;
        border: 1px solid black !important;
        vertical-align: top !important;
        word-wrap: break-word !important;
        white-space: normal !important;
        box-sizing: border-box !important;
    }

    th {
        background-color: #f2f2f2 !important;
        font-weight: bold !important;
        border: 1px solid black !important;
        color: #000 !important; /* Ensure black text for week day names */
    }

    td {
        border: 1px solid black !important;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9 !important;
    }

    tr:nth-child(odd) {
        background-color: #fff !important;
    }

    tr:hover {
        background-color: #f2f2f2 !important;
    }

    @page {
        size: landscape;
        margin: 2mm; /* Further reduced margin */
    }

    body {
        margin: 0;
        padding: 0;
    }

    html {
        margin: 0;
        padding: 0;
    }
}
